{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <title>StartupDen</title>
    {{block.super}}
{% endblock head %}

{% block content %}
    
    <div class="row home-wrapper">
    	
    	{% block feature_posts %}

    	<div style="margin-bottom: 20px;" class="row">
    	<h4 style="margin-top: 0;">Рекомендуем</h4>
    	{% for post in feat_posts %}
    		
    			<div class="col l3 m6 s12">
        			<a href="{% url 'post_detail' post.slug %}" class="feature-card card medium hoverable">

        				<div class="card-content" style="z-index: 100; background-color: #fff; position: absolute; right: 0; left: 0; bottom: 0;">
            				<span class="card-title" style="color: #000;">{{post.title}}</span>
            				
            				<!--
            				<HR>
            				<div class="feature-card-text">
                				<p>{{post.text_entry}}</p>
                			</div>
                			-->

            			</div>

            			<div class="card-image">
            				<img src="{{post.image_thumbnail.url}}">
            				<!--
            				<span class="card-title">{{post.title}}</span>
            				-->
            			</div>

        			</a>
    			</div>

    	{% endfor %}
    	</div>
    	
        {% endblock feature_posts %}

        <!--
        <a href="/quiz"><h5>Как хорошо ты знаешь российский IT рынок? Узнай с помощью нашего спец. проекта!</h5></a>
        -->

    	<div id="content" class="content-articles-page">

            <div class="row" id="content-posts-wrapper" style="position: relative;">

                <div class="row card-post card-post-article stamp">

                    <div class="startups-wrapper card">
                            {% for product in startups %}
                                {% include "item-startup.html" %}
                            {% endfor %}

                        <a href="{% url 'hunt:post_list' %}" class="startups-footer product-post product-post-item" style="width: 100%; background-color: #eee;">
                            <h5 style="margin: 0; color: #000;" class="center-align">Все стартапы <i class="material-icons" style="vertical-align: middle; font-size: 34px;">keyboard_arrow_right</i></h5>
                        </a> <!-- /.product-post -->

                    </div> <!-- /.startups-wrapper -->

                </div> <!-- /#startups -->

                {{articles}}

            {% comment %}                
                <div id="content-posts-plug">
                    
                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                </div> <!-- /content-posts-plug -->
            {% endcomment %}


            </div> <!-- /.row content-posts-wrapper -->

    	</div> <!-- /content -->


    	<div class="col l4 offset-l4 s12 center-align" id="load_posts">
			<a class="center-align waves-effect waves-light btn" style="margin: auto; margin-bottom: 20px;">Загрузить еще</a>
       	</div>

    </div> <!-- /.row home-wrapper -->


    <style type="text/css">

        .card{
            display: block;
        }

        .card.small .card-action, .card.medium .card-action, .card.large .card-action {
            position: relative;            
        }

        .item-card{
            display: block;
        }

        .item-card.medium .card-content {
            height: auto;
        }

        .item-card.medium {
            height: auto;
        }

        .item-card.medium .card-image {
    		height: auto;
		}

        .card-image{
            background-color: #000;
        }

        .card-image img{
            opacity: 0.7;
        }

        .card .card-image .card-title{
            line-height: 1.2;
            font-weight: 400;
        }

        .card-tag{
            position: absolute;
            top: 0;
            left: 0;
            margin: 25px 30px;
            padding: 2px 10px;
            border-radius: 2px;
            color: #fff;

            /* #16B8D9 */
            background-color: rgba(22, 184, 217, 0.8);

            z-index: 1;

            /* font-size: 16px; */
        }

        .card-tag:hover{
            background-color: rgba(22, 184, 217, 1); 
        }

        .card-content{
            color: #000;
        }

        .card-post-disabled{
        	display: none;
        }

        #content-posts{
        	opacity: 0;
        }

        .product-post .product-post-right {
            display: none;
        }

    </style>

{% endblock content %}   


{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    <script type="text/javascript">

        (function(){

            $(document).ready(function(){
                $('#content-posts-wrapper').masonry({
                    itemSelector: '.card-post-article',
                    stamp: '.stamp',
                    columnWidth: $('#content-posts-plug .card-post')[0]
                });

                $('.home-sidebar-share').css('top', $('#runet-news').height());
            });
            
            // хитрый запуск masonry после события загрузки всех шрифтов
            document.onreadystatechange = function() {
            if (document.readyState === 'complete') 
                $('#content-posts-wrapper').masonry({
                    itemSelector: '.card-post-article',
                    stamp: '.stamp',
                    columnWidth: $('#content-posts-plug .card-post')[0]
                });
            };

            $('.startups-wrapper').on('click', '.product-post-body', function() {
                var url = "{% url 'hunt:post_detail' 'slug' %}";
                url = url.replace('slug', $(this).data('slug'))
                location.href = url;
            });

        })();

    </script>

    <script src="{% static 'load_posts.js' %} "></script>

    {{block.super}}

{% endblock scripts %}
