<!DOCTYPE html>
<html>

<head>

{% block head %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/media/favicon.ico">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% load staticfiles %}

    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style/startups.css' %}" />

{% endblock head %}


</head>
<body>

    {% block navbar %}

        <div id="navbar" class="row" style="position: relative; text-align: center;">

            <div class="col l2 m3 s12 navbar-logo">
                <h4><a href="/" style="color: #000;">StartupDen</a></h4>
            </div>
                                            
                                         <!-- l7 m7 s12 -->
            <div class="navbar-categories col l7 m7 s12">
                <a href="/news">Новости</a>
                <a href="/articles">Статьи</a>
                <a href="/startups">Стартапы</a>
            </div>
            
                                                  <!-- l3 m4 s12 -->
            <div class="share-btns share col l1 offset-l2 m2 s4 offset-s4" style="margin-top: 0;">

                    {% comment %}
                    <a href="https://vk.com/startupden" target="_blank" class="post-content-share-vk">
                        <i class="fa fa-vk fa-lg"></i>
                    </a>
            
                    <a href="https://twitter.com/startupden_ru" target="_blank" class="post-content-share-twitter">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
            
                    <a href="https://www.facebook.com/startupden.ru/" target="_blank" class="post-content-share-facebook">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>

                    <a href="/feed" target="_blank" class="post-content-share-rss">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                    {% endcomment %}

                    {% if user.is_authenticated %}
                        <a href="{% url 'hunt:profile_details' user.profile.id_profile %}" class="profile-link"><img src="{{user.profile.avatar.url}}"></a>
                    {% else %}
                        <a href="#" id="login" class="profile-link" style="width: 73px;">
                            <i class="fa fa-sign-in fa-2x"></i> 
                            <span style="vertical-align: super;">Войти</span>
                        </a>
                    {% endif %}

            </div> <!-- /share-btns -->

        </div> <!-- /navbar -->


        {% comment %}
        <nav class="white black-text" style="position: relative;">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">StartupDen</a>
                
                <!--
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                    <li><a href="#" id="search_btn" data-search="none"><i class="material-icons">search</i></a></li>
                </ul>
                -->

            </div>

        </nav>

        <form id="search_field" style="display: none;">
            <div class="input-field">
                <i class="material-icons prefix" style="top: 8px; left: 20px;">search</i>
                <input style="margin: 0;" id="search" type="search" placeholder="Я ищу" required>

                <!--
                <i class="material-icons" style="color: #444; top: 8px;">close</i>
                -->

            </div>
        </form>
        {% endcomment %}

    {% endblock navbar %}

    {% block login %}
        <div class="login-popup-wrapper row valign-wrapper share share-startup" style="display: none;">
            <div class="login-popup valign">

                <a href="#" class="close" style="position: absolute; top: 0px; right: 0px; color: #000; width: auto;">
                    <i class="material-icons">close</i>
                </a>

                <h5 class="center-align">StartupDen.ru</h5>

                <p class="center-align">Войдите с помощью любой из соц. сетей</p>

                <div class="soc-buttons">
                    <a href="/accounts/vk/login/?process=login" class="post-content-share-vk">
                        <i class="fa fa-vk fa-lg"></i> 
                        <span> ВКонтакте </span>
                    </a>

                    <a href="/accounts/twitter/login/?process=login" class="post-content-share-twitter">
                        <i class="fa fa-twitter fa-lg"></i> 
                        <span> Twitter </span>
                    </a>

                    <a href="/accounts/facebook/login/?process=login" class="post-content-share-facebook">
                        <i class="fa fa-facebook fa-lg"></i> 
                        <span> Facebook </span>
                    </a>
                </div>

            </div>
        </div>
    {% endblock login %}


    {% block content %}
    {% endblock content %}



    {% block footer %}
    <div id="footer" class="row blue-grey lighten-3">
        
        <div class="col l6 offset-l1 m10 offset-m1">

            <a href="{% url 'contact' %}" class="link"> <h5>Контакты</h5> </a>

            <p> StartupDen — проект о русскоязычной сфере IT и людях, которые за ней стоят. Мы пишем про стартапы, приложения, интернет вещей, венчурный капитал, игры и социальные сети. </p>

            <p>Если у вас есть новость, вы хотите, чтобы мы о вас написали или вы просто хотите с нами пообщаться, то обращайтесь по адресу <a href="mailto:touch@startupden.ru" class="link">touch@startupden.ru</a> </p>
        </div>

        <div class="col l3 offset-l1 m6 offset-m3 s12">
            <div class="share post-content-share">
                
                <div class="col l6 m6 s12">
                    <a href="https://vk.com/startupden" target="_blank" class="post-content-share-vk">
                        <i class="fa fa-vk fa-lg"></i> ВКонтакте
                    </a>
                </div>
                
                <div class="col l6 m6 s12">
                    <a href="https://twitter.com/startupden_ru" target="_blank" class="post-content-share-twitter">
                        <i class="fa fa-twitter fa-lg"></i> Твиттер
                    </a>
                </div>

                <div class="col l6 m6 s12">
                    <a href="https://www.facebook.com/startupden.ru/" target="_blank" class="post-content-share-facebook">
                        <i class="fa fa-facebook fa-lg"></i> Фейсбук
                    </a>
                </div>

                <div class="col l6 m6 s12">
                    <a href="/feed" target="_blank" class="post-content-share-rss">
                        <i class="fa fa-rss fa-lg"></i> RSS
                    </a>
                </div>

            </div>

        </div>

    </div>
    {% endblock footer %}


{% block scripts %}

<script type="text/javascript">

    {% comment %}
        $('#search_btn').click(function(){

            // Открытие строки поиска
            if( $(this).data('search') == "none" ){
                $('#search_field').css('display', 'block');
                $(this).find('.material-icons').text('close');

                $(this).data('search', 'search');
            }
            // Закрытие
            else{
                $('#search_field').css('display', 'none');
                $(this).find('.material-icons').text('search');

                $(this).data('search', 'none');
            }

            //$('#search_field').toggle();

        });
    {% endcomment %}

        $('#login').click(function(){
            $('.login-popup-wrapper').show();
        });

        $('.login-popup .close').click(function(){
            $('.login-popup-wrapper').hide();
        });


        $(document).ready(function() {

            if( $(window).width() <= 370){
                $('#navbar').removeClass('valign-wrapper');
                $('#navbar').find('.valign').removeClass('valign');
            }

        });

</script>

<script>
    $(document).ready(function() {

        $('.popup').click(function(event) {
            var width  = 575,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                opts   = 'status=1' +
                         ',width='  + width  +
                         ',height=' + height +
                         ',top='    + top    +
                         ',left='   + left;

            if( $(this).hasClass('twitter') ){
                var url = this.href;
            }
            else{
                var url = this.href + window.location.href;
            }

            window.open(url, 'sharing', opts);
 
            return false;
        });
    });
</script>


<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+
";"+Math.random();//--></script><!--/LiveInternet-->

<script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 0, width: "280", height: "250"}, 109938079);
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64063502-4', 'auto');
  ga('send', 'pageview');
</script>


{% endblock scripts %}


</body>
</html>
