{% for post in object_list %}

    {% comment %}
    <div class="card-post-disabled card-post col l6 m12 s12 {% cycle '' 'offset-l6' %}">
    {% endcomment %}
    
    <div class="card-post-disabled card-post">

        <a href="{% url 'post_detail' post.slug %}" class="item-card card medium hoverable">
                
            <div class="card-image">
            	<img src="{{post.image_thumbnail.url}}">
            	<span class="card-title">{{post.title}}</span>
            </div>
                
            <div class="card-content">
                <p>{{post.text_entry}}</p>
            </div>

        </a>
    </div>


{% endfor %}
