{% extends "base.html" %}


{% block content %}
    <div class="row home-wrapper" style="min-height: 650px;">
	

		<div class="col l8 offset-l1 m10 offset-m1 s12">
			<div class="collection news-wrapper">
                {{html}}
            </div> <!-- /collection -->

            <div class="col  s12 center-align" id="load_posts">
                <a class="center-align waves-effect waves-light btn" style="margin: auto; margin-bottom: 20px;">Загрузить еще</a>
            </div>

		</div>

		<div class="col s3 sidebar-share home-sidebar-share" style="top: 100px;">
                <div class="row">
            
                    <div class="col s12" style="height: 250px; margin-top: 0;"><div id="vk_groups"></div></div>
                    
                    <div class="col s12">
                    
                        <div class="fb-page" data-width="270" data-height="250" data-href="https://www.facebook.com/startupden.ru/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/startupden.ru/">
                                    <a href="https://www.facebook.com/startupden.ru/">StartupDen</a>
                                </blockquote>
                            </div>
                        </div>

                    </div> <!-- /col s12 Facebook -->

                    <div class="col s12">
                        <div class="card indigo lighten-3">
                            <div class="card-content white-text">
                                <p style="margin-bottom: 20px;">Подпишись на наш Twitter, чтобы первым узнавать о самых последних новостях.</p>

                                <a class="twitter-follow-button" href="https://twitter.com/startupden_ru" data-size="large" data-show-count="false">
                                    Follow @startupden_ru
                                </a>

                            </div>
                        </div>
                    </div> <!-- /col s12 Twitter -->
               
                </div> <!-- /row-->

        </div> <!-- /sidebar-share -->

	</div>

    <style type="text/css">

        .news-wrapper p{
            color: #000;
            margin: 0;
        }

    </style>

{% endblock content %}

{% block scripts %}
    {{block.super}}

    <script type="text/javascript">

        var page = 2;
        var is_loading = false;

        $('#load_posts').click(function(){
            if( !is_loading ){
                loading('off');
                loadPosts();
            }
        });


        function loading(turn){
            // Когда посты загружены включить возможность загрузить ещё
            if(turn == 'on'){
                $('#load_posts a').removeClass('disabled');
                is_loading = false;
            }
            // Когда посты начали грузиться выключить возможность загрузить ещё
            else{
                $('#load_posts a').addClass('disabled');
                is_loading = true;
            }

        }


        function loadPosts(){

            $.get( window.location.href, {page: page} )
                        
                .success(function( data ) {

                    $('.news-wrapper').append(data);
                    page += 1;
                    loading('on');

                }) // success || done
                        
                .fail(function() {
                    $('#load_posts').prepend('<p>Упс...Кажется все новости уже загружены.</p>')
                    $('#load_posts a').addClass('disabled');
                }); // fail
            

        } // function loadPosts

    </script>
{% endblock scripts %}
