{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <title>StartupDen</title>
    <meta name='yandex-verification' content='6d341220d6060f65' />
    <meta name="google-site-verification" content="F2MLKVLsb-RjSAFG3pLknWV9kv50vuxxpUj3Pm311kg" />
    {{block.super}}
{% endblock head %}

{% block content %}
    
    <div class="row home-wrapper">
    	
        <!--
        <a href="/quiz"><h5>Как хорошо ты знаешь российский IT рынок? Узнай с помощью нашего спец. проекта!</h5></a>
        -->

    	<div id="content">

            <div class="row" id="content-posts-wrapper" style="position: relative;">
                <div id="runet-news" class="card-post stamp" style="margin: auto;">
                    <div class="collection">
                        <a href="{% url 'headlines' %}" class="collection-item collection-header" style="font-size: 2.28rem; line-height: 110%; font-weight: 400; color: #a6a6a6;">Новости рунета</a>
    
                        <div class="item-wrapper">
                            {% for object in  news_list %}
                                <a href="{% url 'link' object.smart_link.internal %}" target="_blank" class="collection-item">
                                    {{object.title}}
                                    <span style="display: block; color: #999;">{{object.media.name}}</span>
                                </a>
                            {% endfor %}
                        </div>

                        <a href="{% url 'headlines' %}" class="collection-item collection-header collection-footer" style="z-index: 2;">Все новости</a>
                    </div>
                </div>

            {% comment %}                
            <div class="col s3 sidebar-share home-sidebar-share stamp" style="left: 0;">
                <div class="row">
            
                    <div class="col s12" style="height: 250px; margin-top: 0;"><div id="vk_groups"></div></div>
                    
                    <div class="col s12">
                    
                        <div class="fb-page" data-width="270" data-height="250" data-href="https://www.facebook.com/startupden.ru/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/startupden.ru/">
                                    <a href="https://www.facebook.com/startupden.ru/">StartupDen</a>
                                </blockquote>
                            </div>
                        </div>

                    </div> <!-- /col s12 Facebook -->

                    <div class="col s12">
                        <div class="card indigo lighten-3">
                            <div class="card-content white-text">
                                <p style="margin-bottom: 20px;">Подпишись на наш Twitter, чтобы первым узнавать о самых последних новостях.</p>

                                <a class="twitter-follow-button" href="https://twitter.com/startupden_ru" data-size="large" data-show-count="false">
                                    Follow @startupden_ru
                                </a>

                            </div>
                        </div>
                    </div> <!-- /col s12 Twitter -->

                    <div class="col s12">
                        <a href="{% url 'contact' %}" class="write-us card hoverable blue-grey lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title center-text">Напишите нам!</span>
                                <p>Хотите рассказать о вашем проекте или поделиться своим опытом? Напишите нам и мы с радостью опубликуем вашу колонку.</p>
                            </div>

                            <div class="write-us-action card-action center-align blue-grey darken-1">
                                <span>Написать</span>
                            </div>
                            
                        </a>
                    </div> <!-- /.col s12 Write-Us -->
               
                </div> <!-- /row-->

            </div> <!-- /sidebar-share -->
            {% endcomment %}

                <div id="startups" class="row card-post stamp" style="max-width: 840px;">
                    <div class="startups-wrapper card">
                        {% for product in startups %}
                            {% include "item-startup.html" %}
                        {% endfor %}

                        <a href="{% url 'hunt:post_list' %}" class="startups-footer product-post product-post-item">
                            <h5 style="margin: 0; color: #000;" class="center-align">Все стартапы <i class="material-icons" style="vertical-align: middle; font-size: 34px;">keyboard_arrow_right</i></h5>
                        </a> <!-- /.product-post -->

                    </div> <!-- /.startups-wrapper -->
                </div> <!-- /#startups -->

                <div class="articles-wrapper">
                    {% include "card-posts-ajax.html" with object_list=post_list only %}
                    <a href="{% url 'articles' %}" class="more-articles card-post card-post-article">
                        <div class="blue-grey lighten-2 center-align waves-effect waves-light btn-large" style="width: 100%;">
                            <h5>Все статьи</h5>
                        </div>
                    </a>
                </div>

            </div> <!-- /.row content-posts-wrapper -->

    	</div> <!-- /content -->

    </div> <!-- /.row home-wrapper -->


    <style type="text/css">

        .card{
            display: block;
        }

        .card.small .card-action, .card.medium .card-action, .card.large .card-action {
            position: relative;            
        }

        .item-card{
            display: block;
        }

        .item-card.medium .card-content {
            height: auto;
        }

        .item-card.medium {
            height: auto;
        }

        .item-card.medium .card-image {
    		height: auto;
		}

        .card-image{
            background-color: #000;
        }

        .card-image img{
            opacity: 0.7;
        }

        .card .card-image .card-title{
            line-height: 1.2;
            font-weight: 400;
        }

        .card-tag{
            position: absolute;
            top: 0;
            left: 0;
            margin: 25px 30px;
            padding: 2px 10px;
            border-radius: 2px;
            color: #fff;

            /* #16B8D9 */
            background-color: rgba(22, 184, 217, 0.8);

            z-index: 1;

            /* font-size: 16px; */
        }

        .card-tag:hover{
            background-color: rgba(22, 184, 217, 1); 
        }

        .card-content{
            color: #000;
        }

        .card-post-disabled{
        	display: none;
        }

        #content-posts{
        	opacity: 0;
        }

    </style>

{% endblock content %}   


{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    <script type="text/javascript">

        (function(){

            if( $(window).width() > 960){
                $(document).ready(function(){
                    $('#content-posts-wrapper').masonry({
                        itemSelector: '.card-post-article',
                        stamp: '.stamp',
                        columnWidth: $('#content-posts-plug .card-post')[0]
                    });

                    $('.home-sidebar-share').css('top', $('#runet-news').height());
                });
                
                // хитрый запуск masonry после события загрузки всех шрифтов
                document.onreadystatechange = function() {
                if (document.readyState === 'complete') 
                    $('#content-posts-wrapper').masonry({
                        itemSelector: '.card-post-article',
                        stamp: '.stamp',
                        columnWidth: $('#content-posts-plug .card-post')[0]
                    });
                };
            }

            $('.startups-wrapper').on('click', '.product-post-body', function() {
                var url = "{% url 'hunt:post_detail' 'slug' %}";
                url = url.replace('slug', $(this).data('slug'))
                location.href = url;
            });

        })();

    </script>

    {{block.super}}

{% endblock scripts %}
