{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <title>StartupDen</title>
    {{block.super}}
{% endblock head %}

{% block content %}
    
    <div class="row home-wrapper">
    	
    	{% block feature_posts %}

    	<div style="margin-bottom: 20px;" class="row">
    	<h4 style="margin-top: 0;">Рекомендуем</h4>
    	{% for post in feat_posts %}
    		
    			<div class="col l3 m6 s12">
        			<a href="{% url 'post_detail' post.slug %}" class="feature-card card medium hoverable">

        				<div class="card-content" style="z-index: 100; background-color: #fff; position: absolute; right: 0; left: 0; bottom: 0;">
            				<span class="card-title" style="color: #000;">{{post.title}}</span>
            				
            				<!--
            				<HR>
            				<div class="feature-card-text">
                				<p>{{post.text_entry}}</p>
                			</div>
                			-->

            			</div>

            			<div class="card-image">
            				<img src="{{post.image_thumbnail.url}}">
            				<!--
            				<span class="card-title">{{post.title}}</span>
            				-->
            			</div>

        			</a>
    			</div>

    	{% endfor %}
    	</div>
    	
        {% comment %}
        <hr>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        
        <div style="width: 320px; margin: 0 auto;">
            <!-- Горизонтальный баннер -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:320px;height:50px"
                 data-ad-client="ca-pub-8855039078705766"
                 data-ad-slot="2937337931"></ins>
        </div>


        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <hr>
        {% endcomment %}
    	
        {% endblock feature_posts %}


    	<div id="content" style="max-width: 1325px;">

            <div class="row" id="content-posts-wrapper" style="position: relative;">
            </div> <!-- /.row content-posts-wrapper -->

            <div id="content-posts-plug">
                    
                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                    <div class="card-post">
                        <div class="item-card card medium">
                
                            <div class="card-image">
                                <span class="card-title"></span>
                            </div>
                
                            <div class="card-content">
                                <p></p>
                                <p style="margin-top: 10px;"></p>
                            </div>

                        </div>
                    </div>

                </div> <!-- /content-posts-plug -->

            <div class="col s3 sidebar-share home-sidebar-share">
                <div class="row">

                    <div class="collection">
                        <a href="{% url 'headlines' %}" class="collection-item collection-header" style="font-size: 2.28rem; line-height: 110%; font-weight: 400; color: #a6a6a6;">Новости рунета</a>
    
                        {% for object in  news_list %}
                            <a href="{{object.link}}" class="collection-item">{{object.title}} <span class="secondary-content">{{object.media.name}}</span> </a>
                        {% endfor %}

                    </div>

            
                    <div class="col s12" style="height: 250px; margin-top: 0;"><div id="vk_groups"></div></div>
                    
                    <div class="col s12">
                    
                        <div class="fb-page" data-width="270" data-height="250" data-href="https://www.facebook.com/startupden.ru/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/startupden.ru/">
                                    <a href="https://www.facebook.com/startupden.ru/">StartupDen</a>
                                </blockquote>
                            </div>
                        </div>

                    </div> <!-- /col s12 Facebook -->

                    <div class="col s12">
                        <div class="card indigo lighten-3">
                            <div class="card-content white-text">
                                <p style="margin-bottom: 20px;">Подпишись на наш Twitter, чтобы первым узнавать о самых последних новостях.</p>

                                <a class="twitter-follow-button" href="https://twitter.com/startupden_ru" data-size="large" data-show-count="false">
                                    Follow @startupden_ru
                                </a>

                            </div>
                        </div>
                    </div> <!-- /col s12 Twitter -->

                    <div class="col s12">
                        <a href="{% url 'contact' %}" class="write-us card hoverable blue-grey lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title center-text">Напишите нам!</span>
                                <p>Хотите рассказать о вашем проекте или поделиться своим опытом? Напишите нам и мы с радостью опубликуем вашу колонку.</p>
                            </div>

                            <div class="write-us-action card-action center-align blue-grey darken-1">
                                <span>Написать</span>
                            </div>
                            
                        </a>
                    </div> <!-- /.col s12 Write-Us -->
               
                </div> <!-- /row-->

                    

            </div> <!-- /sidebar-share -->

    	</div> <!-- /content -->


    	<div class="col l4 offset-l4 s12 center-align" id="load_posts">
			<a class="disabled center-align waves-effect waves-light btn" style="margin: auto; margin-bottom: 20px;">Загрузить еще</a>
       	</div>

    </div> <!-- /.row -->


    <style type="text/css">

        .card{
            display: block;
        }

        .card.small .card-action, .card.medium .card-action, .card.large .card-action {
            position: relative;            
        }

        .item-card{
            display: block;
        }

        .item-card.medium .card-content {
            height: auto;
        }

        .item-card.medium {
            height: auto;
        }

        .item-card.medium .card-image {
    		height: auto;
		}

        .card-image{
            background-color: #000;
        }

        .card-image img{
            opacity: 0.7;
        }

        .card .card-image .card-title{
            line-height: 1.2;
            font-weight: 400;
        }

        .card-tag{
            position: absolute;
            top: 0;
            left: 0;
            margin: 25px 30px;
            padding: 2px 10px;
            border-radius: 2px;
            color: #fff;

            /* #16B8D9 */
            background-color: rgba(22, 184, 217, 0.8);

            z-index: 1;

            /* font-size: 16px; */
        }

        .card-tag:hover{
            background-color: rgba(22, 184, 217, 1); 
        }

        .card-content{
            color: #000;
        }

        .card-post-disabled{
        	display: none;
        }

        #content-posts{
        	opacity: 0;
        }

    </style>

{% endblock content %}   


{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    <script type="text/javascript">

        (function(){

            $(document).ready(function(){
                $('#content-posts-wrapper').masonry({
                    itemSelector: '.card-post',
                    columnWidth: $('#content-posts-plug .card-post')[0]
                });
            });
            
            // хитрый запуск masonry после события загрузки всех шрифтов
            document.onreadystatechange = function() {
            if (document.readyState === 'complete') 
                $('#content-posts-wrapper').masonry({
                    itemSelector: '.card-post',
                    columnWidth: $('#content-posts-plug .card-post')[0]
                });
            };

        })();

    </script>

    <script src="{% static 'load_posts.js' %} "></script>

    {{block.super}}

{% endblock scripts %}
