{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

    <title>{{post.title}}</title>

    {{block.super}}
    
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{post.title}}" />
    <meta property="og:description" content="{{post.text_entry}}" />
    <meta property="og:url" content="http://startupden.ru{{ request.path }}" />
    <meta property="og:image" content="http://startupden.ru/media/{{post.image}}" />
    <meta property="og:site_name" content="startupden.ru" />
    
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{post.title}}" />
    <meta property="twitter:description" content="{{post.text_entry}}" />
    <meta property="twitter:image" content="http://startupden.ru/media/{{post.image}}" />
    
    {% comment %}        
    <!--
    <meta property="twitter:site" content="@vcru" />
    <meta property="twitter:creator" content="@vcru" />

    <meta property="fb:app_id" content="499950920109990" />
    -->
    {% endcomment %}

    <meta property="twitter:url" content="http://startupden.ru{{ request.path }}" />
    <meta property="author" content="Михаил Синов" />

{% endblock head %}




{% block navbar %}

    <div id="navbar" class="row valign-wrapper">
        
        <div class="col m2 s12 navbar-logo">
            <h4 style="margin: 0;"><a href="/" style="color: #000;">StartupDen</a></h4>
        </div>

        <div class="col l8 hide-on-med-and-down" style="font-size: 18px;">
            {{post.title}}
        </div>
            
        <div class="share-btns col l2 m5 offset-m5 s12 right-align">
            <a class="vk popup" href="http://vk.com/share.php?url=" target="_blank"><img src="{% static 'vk_logo.png' %}"></a>
            <a class="twitter popup" href="http://twitter.com/share?text={{post.title}}" target="_blank"><img src="{% static 'twitter_logo.png' %}"></a>
            <a class="facebook popup" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"><img src="{% static 'facebook_logo.png' %}"></a>
        </div>

    </div>

{% endblock navbar %}



{% block content %}
    

    <div class="post-cover">

        <div class="post-cover-image"></div>


        <div class="overlay valign-wrapper">
            <div class="row valign">

                <div class="col s12 l8 offset-l2 m10 offset-m1 center-align">
                    <h3 class="post-cover-title">{{post.title}}</h3>
                    <p class="date">{{post.date|date:"DATE_FORMAT"}}</p>
                </div>
            
            </div>
        </div>

    </div>


    
    <div class="row" style="margin-top: 30px; margin-bottom: 100px;">                    
    <div id="post-content" class="post-content-meta">

        <div id="post-content-text" class="col l9 m10 offset-m1 s12">
            
            <div class="share post-content-share">
                <a href="http://vk.com/share.php?url=" target="_blank" class="popup post-content-share-vk" style="margin-right: 20px;">
                    <i class="fa fa-vk fa-lg"></i> Поделиться
                </a>

                <a href="http://twitter.com/share?text={{post.title}}" target="_blank" class="twitter popup post-content-share-twitter" style="margin-right: 20px;">
                    <i class="fa fa-twitter fa-lg"></i> Твитнуть
                </a>

                <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="popup post-content-share-facebook" style="margin-right: 20px;">
                    <i class="fa fa-facebook fa-lg"></i> Поделиться
                </a>

                <a href="https://plus.google.com/share?url=" target="_blank" class="popup post-content-share-google">
                    <i class="fa fa-google-plus fa-lg"></i>
                </a>
            </div>

            <p>{{post.text_entry|safe}}</p>
            {{post.text|safe}}
            
            <div class="share post-content-share">
                <a href="http://vk.com/share.php?url=" target="_blank" class="popup post-content-share-vk" style="margin-right: 20px;">
                    <i class="fa fa-vk fa-lg"></i> Поделиться
                </a>

                <a href="http://twitter.com/share?text={{post.title}}" target="_blank" class="twitter popup post-content-share-twitter" style="margin-right: 20px;">
                    <i class="fa fa-twitter fa-lg"></i> Твитнуть
                </a>

                <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="popup post-content-share-facebook" style="margin-right: 20px;">
                    <i class="fa fa-facebook fa-lg"></i> Поделиться
                </a>

                <a href="https://plus.google.com/share?url=" target="_blank" class="popup post-content-share-google">
                    <i class="fa fa-google-plus fa-lg"></i>
                </a>
            </div>

            <p style="margin-top: 50px;"><i>Заметили опечатку? Выделите ее и нажмите Ctrl+Enter</i></p>

        </div> <!-- /post-content-text -->

        <div id="sidebar-share" class="sidebar-share">
            <div class="row">

                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                    <div class="col s12">
                        
                        <!-- Прямоугольник (300х250) -->
                        <ins class="adsbygoogle"
                            style="display:inline-block;width:300px;height:250px"
                            data-ad-client="ca-pub-8855039078705766"
                            data-ad-slot="1028455936"></ins>

                    </div>

                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>



                <div class="col s12" style="padding: 0; margin-bottom: 10px;">
                    <ul class="tabs" style="background-color: transparent;">
                        <li class="tab col s3"><a href="#vk" class="active">Вконтакте</a></li>
                        <li class="tab col s3"><a href="#fb">Facebook</a></li>
                        <li class="tab col s3"><a href="#tw">Twitter</a></li>
                    </ul>
                </div>

            
                <div id="vk" class="col s12" style="height: 250px;"><div id="vk_groups"></div></div>
                <div id="fb" class="col s12">
                    
                    <div class="fb-page" data-width="270" data-height="250" data-href="https://www.facebook.com/startupden.ru/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/startupden.ru/">
                                <a href="https://www.facebook.com/startupden.ru/">StartupDen</a>
                            </blockquote>
                        </div>
                    </div>

                </div>
                <div id="tw" class="col s12">

                    <div class="card indigo lighten-3">
                        
                        <div class="card-content white-text">
                            <p style="margin-bottom: 20px;">Подпишись на наш Twitter, чтобы первым узнавать о самых последних новостях.</p>

                            <a class="twitter-follow-button" href="https://twitter.com/startupden_ru" data-size="large" data-show-count="false">
                                Follow @startupden_ru
                            </a>

                        </div>
                            
                    </div>
                    
                </div>
            </div>

            <div class="row" style="margin-top: 20px;">
                    <div class="col s12">
                        <a href="{% url 'contact' %}" class="write-us card hoverable blue-grey lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title center-text">Напишите нам!</span>
                                <p>Хотите рассказать о вашем проекте или поделиться своим опытом? Напишите нам и мы с радостью опубликуем вашу колонку.</p>
                            </div>

                            <div class="write-us-action card-action center-align blue-grey darken-1">
                                <span style="color: #fff;">Написать</span>
                            </div>
                            
                        </a>
                    </div>
            </div> <!-- /.write-us -->
            
        </div> <!-- /.sidebar-share -->

    </div> <!-- /post-content -->

        <div id="feature-wrapper" class="col l10 offset-l1 s12" style="font-size: 1.15rem; margin-top: 20px;">

            <h4 class="center-align" style=" width: 100%; border-bottom: 2px solid #9A9A9A; line-height: 0.1em; margin: 10px 0 50px;"><span style="background: #fff; padding: 0 10px;">Читайте также</span></h4>

            {% for post in recommended_posts %}
                
                <div class="col l3 m6 s12" style="height: 250px;">
                    <a href="{% url 'post_detail' post.slug %}" class="card hoverable">
                        
                        <div class="card-image">
                            <img src="{{post.image.url}}" style="height: 150px;">
                        </div>

                        {% comment %}
                            http://stackoverflow.com/questions/6572330/is-it-possible-to-use-text-overflowellipsis-on-multiline-text
                        {% endcomment %}

                        <div class="card-content" style="padding: 10px 0; color: #000;">
                            <p style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">{{post.title}}</p>
                        </div>

                    </a>
                </div> <!-- /.col s3 --> 

            {% endfor %}

        </div> <!-- /.col s10 -->

    </div> <!-- /.row -->

    <div class="hide-on-med-and-down">

        {% if prev_post %}
        <a href="{% url 'post_detail' prev_post.slug %}" class="navigation-arrow navigation-left">
            <div class="valign-wrapper navigation-arrow-wrapper">
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="valign">Прошлая публикация</span>
            </div>
        </a>
        {% endif %}

        {% if next_post %}
        <a href="{% url 'post_detail' next_post.slug %}" class="navigation-arrow navigation-right">
            <div class="valign-wrapper navigation-arrow-wrapper helper">
                <span class="valign">Следующая публикация</span>
                <i class="material-icons" style="margin-left: 15px;">keyboard_arrow_right</i>
            </div>
        </a>
        {% endif %}

    </div>



{% comment %}    
    <div  id="share-text" style="position: absolute;">
        <div style="background-color: #000; padding: 5px 10px; border-radius: 4px;">
            <i class="fa fa-vk fa-2x" style="color: #fff;"></i>
            <i class="fa fa-facebook fa-2x" style="color: #fff; padding-left: 10px;"></i>
            <i class="fa fa-twitter fa-2x" style="color: #fff; padding-left: 10px;"></i>
        </div>

        <div class="arrow-down"></div>
    </div>


    <style type="text/css">

        .arrow-down {
            margin: 0 auto;
            width: 0; 
            height: 0; 
            
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #000;
        }

    </style>
{% endcomment %}

    <script src="{% static 'js.cookie.js' %}"></script>
    <script src="{% static 'csrftoken.js' %}"></script>

    <script type="text/javascript">

{% comment %}
        document.onmouseup = function() {

            var selection = document.getElementById('post-content-text').getSelection();

            if (selection != '') {
                var height_share = $('#share-text').height();

                var coords = getOffsetRect(selection, height_share);

                //alert(getOffsetRect(selection).top);

                $('#share-text').css({'left': coords.left, 'top': coords.top}).show();
            }
            else{
                $('#share-text').hide();
            }

        }

        function getOffsetRect(selection, height_share) {

            var range = selection.getRangeAt(0);
            

            //range.collapse(false);
            

            var dummy = document.createElement("span");
            range.insertNode(dummy);
            
            var box = dummy.getBoundingClientRect();
            
            //var x = box.left, y = box.top;

    
            var body    = document.body
            var docElem = document.documentElement
    
            var scrollTop  = window.pageYOffset || docElem.scrollTop || body.scrollTop
            var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft
    
            var clientTop  = docElem.clientTop || body.clientTop || 0
            var clientLeft = docElem.clientLeft || body.clientLeft || 0
    
            //var top  = box.top  + scrollTop  - clientTop

            offsetTop = box.top - box.height

            var top  = offsetTop + scrollTop - height_share - clientTop
            var left = box.left + scrollLeft - clientLeft

            dummy.parentNode.removeChild(dummy);
    
            return { top: Math.round(top), left: Math.round(left) }
        } // getOffsetRect()
{% endcomment %}



        $(document).ready(function() {

            if($(window).width() > 500){
                $('.post-cover-image').css('background-image', 'url({{post.image.url}})' );
            }
            else{
                $('.post-cover-image').css('background-image', 'url({{post.image_thumbnail.url}})' );
            }

            if( $('#post-content-text').height() > $('#sidebar-share').height() ){

                var offset_horizontal = $('#sidebar-share').offset().left - ($('#sidebar-share').width() / 2);
                var offset_vertical = $('#feature-wrapper').offset().top - $('#sidebar-share').height();

                var initial_left = $('#sidebar-share').offset().left;
                $('#sidebar-share').css('left', initial_left);

                $('#sidebar-share').pushpin({ top: $('#sidebar-share').offset().top, 'bottom': offset_vertical - 10 });

                $('#post-content').removeClass('post-content-meta');
                $('#post-content').parent().css('position', 'relative');
            }
            else{
                $('#post-content-text').css('height', $('#sidebar-share').height());
            }

            var height = $(window).height() - 64;
            $('.post-cover').css('height', height);


        offset = $('.post-cover').position().top + $('.post-cover').height();

        $(document).keydown( function(event) {
            
            if(event.which === 13 && event.ctrlKey) {
                
                var txt = '';

                if (txt = window.getSelection){ // Не IE, используем метод getSelection
                    txt = window.getSelection().toString();
                } 
                else { // IE, используем объект selection
                  txt = document.selection.createRange().text;
                }

                if(txt != ''){
                    send_typo(txt);
                }
            }

        });

            function send_typo(text){

                id_post = {{post.id}};

                $.post( "/typo/", {pk: id_post, text: text}, function( data ) {
                
                    if(data == 'sent'){
                        Materialize.toast('Спасибо за то, что сообщиил нам об ошибке! Мы в ближайшее время её исправим.', 4000);
                    }

                });
            }
            
        });

    </script>

    <script>
    $(document).ready(function() {

        $('.popup').click(function(event) {
            var width  = 575,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                opts   = 'status=1' +
                         ',width='  + width  +
                         ',height=' + height +
                         ',top='    + top    +
                         ',left='   + left;

            if( $(this).hasClass('twitter') ){
                var url = this.href;
            }
            else{
                var url = this.href + window.location.href;
            }

            window.open(url, 'sharing', opts);
 
            return false;
        });
    });
    </script>


{% endblock %}
