{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

    <title>{{post.title}}</title>

    {{block.super}}
    
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{post.title}}" />
    <meta property="og:description" content="{{post.text_entry}}" />
    <meta property="og:url" content="http://startupden.ru{{ request.path }}" />
    <meta property="og:image" content="http://startupden.ru/media/{{post.image}}" />
    <meta property="og:site_name" content="startupden.ru" />
    
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{post.title}}" />
    <meta property="twitter:description" content="{{post.text_entry}}" />
    <meta property="twitter:image" content="http://startupden.ru/media/{{post.image}}" />
    
    {% comment %}        
    <!--
    <meta property="twitter:site" content="@vcru" />
    <meta property="twitter:creator" content="@vcru" />

    <meta property="fb:app_id" content="499950920109990" />
    -->
    {% endcomment %}

    <meta property="twitter:url" content="http://startupden.ru{{ request.path }}" />
    <meta property="author" content="Михаил Синов" />

{% endblock head %}



{% block navbar %}

    <div class="navbar row" style="position: relative; text-align: center; box-shadow: none;">

            {% comment %}
            <div class="navbar-categories col l7 offset-l2 m7 offset-m3 s12">
                <a href="/links">Новости</a>
                <a href="/articles">Статьи</a>
                <a href="/startups">Стартапы</a>
            </div>
            {% endcomment %}

                                            
                                         <!-- l7 m7 s12 -->
            <div class="navbar-categories col l8 m8 s12 offset-l2 offset-m1">
                <a href="/links">Новости</a>
                <a href="/articles">Статьи</a>
                <a href="/startups">Стартапы</a>

                <div class="navbar-soc">
                    <a href="https://vk.com/startupden" target="_blank">
                        <i class="fa fa-vk fa-lg"></i>
                    </a>
            
                    <a href="https://twitter.com/startupden_ru" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
            
                    <a href="https://www.facebook.com/startupden.ru/" target="_blank">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>

                    <a href="/feed" target="_blank">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>

                    <a href="{% url 'contact' %}" target="_blank">
                        <i class="fa fa-envelope fa-lg"></i>
                    </a>
                </div>
            </div> <!-- /.navbar-categories -->

    </div> <!-- /navbar -->


    <div class="navbar navbar-post row valign-wrapper" style="position: relative; margin-top: 0px; right: 0;">
        
        <div class="col l2 m1 s12 navbar-logo">
            <h4><a href="/" style="color: #000;">StartupDen</a></h4>
        </div>

        <div class="col l7 hide-on-med-and-down" style="font-size: 18px;">
            {{post.title}}
        </div>
     
        <div class="share-btns share col l3 m5 offset-m6 s12 right-align">
            {% comment %}
            <a class="vk popup" href="http://vk.com/share.php?url=" target="_blank"><img src="{% static 'vk_logo.png' %}"></a>
            <a class="twitter popup" href="http://twitter.com/share?text={{post.title}}" target="_blank"><img src="{% static 'twitter_logo.png' %}"></a>
            <a class="facebook popup" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"><img src="{% static 'facebook_logo.png' %}"></a>
            {% endcomment %}

            <div style="display: inline-block; vertical-align: super;">
                <a class="vk popup" href="http://vk.com/share.php?url=" target="_blank">
                    <i class="fa fa-vk fa-2x"></i>
                </a>
            
                <a class="twitter popup" href="http://twitter.com/share?text={{post.title}}" target="_blank">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
            
                <a class="facebook popup" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>

                 {% if user.is_authenticated %}
                    <a href="{% url 'hunt:profile_details' user.profile.id_profile %}" class="profile-link"><img src="{{user.profile.avatar.url}}"></a>
                {% else %}
                    <a href="#" id="login" class="profile-link" style="width: auto; vertical-align: super;">
                        <i class="fa fa-sign-in fa-2x"></i> 
                        <span style="vertical-align: super;">Войти</span>
                    </a>
                {% endif %}

            </div>

        </div>

    </div>

{% endblock navbar %}



{% block content %}
    

    <div class="post-cover" style="margin-top: 0;">

        <div class="post-cover-image"></div>


        <div class="overlay valign-wrapper">
            <div class="row valign">

                <div class="col s12 l8 offset-l2 m10 offset-m1 center-align">
                    <h3 class="post-cover-title">{{post.title}}</h3>
                    <p class="date">{{post.date|date:"DATE_FORMAT"}}</p>
                </div>
            
            </div>
        </div>

    </div>


    
    <div class="row" style="margin-top: 30px; margin-bottom: 100px;">                    
    <div id="post-content" class="post-content-meta">

        <div id="post-content-text" class="col l9 m10 offset-m1 s12">
            
            <div class="share post-content-share">
                <a href="http://vk.com/share.php?url=" target="_blank" class="popup post-content-share-vk">
                    <i class="fa fa-vk fa-lg"></i> Поделиться
                </a>

                <a href="http://twitter.com/share?text={{post.title}}" target="_blank" class="twitter popup post-content-share-twitter">
                    <i class="fa fa-twitter fa-lg"></i> Твитнуть
                </a>

                <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="popup post-content-share-facebook">
                    <i class="fa fa-facebook fa-lg"></i> Поделиться
                </a>

                <a href="https://plus.google.com/share?url=" target="_blank" class="popup post-content-share-google">
                    <i class="fa fa-google-plus fa-lg"></i>
                </a>
            </div>

            {% comment %}
            <p>{{post.text_entry|safe}}</p>
            {% endcomment %}

            <div class="post-text">
                {{post.text|safe}}
            </div>

            <div class="share post-content-share">
                <a href="http://vk.com/share.php?url=" target="_blank" class="popup post-content-share-vk">
                    <i class="fa fa-vk fa-lg"></i> Поделиться
                </a>

                <a href="http://twitter.com/share?text={{post.title}}" target="_blank" class="twitter popup post-content-share-twitter">
                    <i class="fa fa-twitter fa-lg"></i> Твитнуть
                </a>

                <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="popup post-content-share-facebook">
                    <i class="fa fa-facebook fa-lg"></i> Поделиться
                </a>

                <a href="https://plus.google.com/share?url=" target="_blank" class="popup post-content-share-google">
                    <i class="fa fa-google-plus fa-lg"></i>
                </a>
            </div>

            <p style="margin-top: 50px;"><i>Заметили опечатку? Выделите ее и нажмите Ctrl+Enter</i></p>

        </div> <!-- /post-content-text -->

        <div id="sidebar-share" class="sidebar-share" style="display: inline-block; float: right; position: relative;">
            <div class="row">

                <div class="col s12" style="padding: 0; margin-bottom: 10px;">
                    <ul class="tabs" style="background-color: transparent;">
                        <li class="tab col s3"><a href="#vk" class="active">Вконтакте</a></li>
                        <li class="tab col s3"><a href="#fb">Facebook</a></li>
                        <li class="tab col s3"><a href="#tw">Twitter</a></li>
                    </ul>
                </div>

            
                <div id="vk" class="col s12" style="height: 250px;"><div id="vk_groups"></div></div>
                <div id="fb" class="col s12">
                    
                    <div class="fb-page" data-width="270" data-height="250" data-href="https://www.facebook.com/startupden.ru/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/startupden.ru/">
                                <a href="https://www.facebook.com/startupden.ru/">StartupDen</a>
                            </blockquote>
                        </div>
                    </div>

                </div>
                <div id="tw" class="col s12">

                    <div class="card indigo lighten-3">
                        
                        <div class="card-content white-text">
                            <p style="margin-bottom: 20px;">Подпишись на наш Twitter, чтобы первым узнавать о самых последних новостях.</p>

                            <a class="twitter-follow-button" href="https://twitter.com/startupden_ru" data-size="large" data-show-count="false">
                                Follow @startupden_ru
                            </a>

                        </div>
                            
                    </div>
                    
                </div>
            </div>

            <div class="row" style="margin-top: 20px;">
                    <div class="col s12">
                        <a href="{% url 'contact' %}" class="write-us card hoverable blue-grey lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title center-text">Напишите нам!</span>
                                <p>Хотите рассказать о вашем проекте или поделиться своим опытом? Напишите нам и мы с радостью опубликуем вашу колонку.</p>
                            </div>

                            <div class="write-us-action card-action center-align blue-grey darken-1">
                                <span style="color: #fff;">Написать</span>
                            </div>
                            
                        </a>
                    </div>
            </div> <!-- /.write-us -->

            <div class="startups-wrapper card" style="margin-top: 30px;">
                <div>
                    {% for product in startups %}
                        {% include "item-startup.html" %}
                    {% endfor %}
                </div>

                <a href="{% url 'hunt:post_list' %}" class="startups-footer product-post product-post-item" style="width: 100%; background-color: #eee;">
                    <h5 style="margin: 0; color: #000;" class="center-align">Все стартапы <i class="material-icons" style="vertical-align: middle; font-size: 34px;">keyboard_arrow_right</i></h5>
                </a> <!-- /.product-post -->

            </div> <!-- /.startups-wrapper -->

            <div id="runet-news" class="collection" style="padding: 0;">
                    <a href="{% url 'headlines' %}" class="collection-item collection-header" style="font-size: 2.28rem; line-height: 110%; font-weight: 400; color: #a6a6a6;">Новости</a>
    
                    {% for object in  news_list %}
                        <a href="{% url 'link' object.smart_link.internal %}" target="_blank" class="collection-item">
                            {{object.title}}
                            <span style="display: block; color: #999;">{{object.media.name}}</span>
                        </a>
                    {% endfor %}

                    <a href="{% url 'headlines' %}" class="collection-item collection-header collection-footer">Все новости</a>
            </div>
            
        </div> <!-- /.sidebar-share -->

        <div id="feature-wrapper" class="col s12 l10" style="font-size: 1.15rem; margin-top: 20px; max-width: 780px;">

            <h4 class="center-align" style=" width: 100%; border-bottom: 2px solid #9A9A9A; line-height: 0.1em; margin: 10px 0 50px;"><span style="background: #fff; padding: 0 10px;">Читайте также</span></h4>

            {% for post in recommended_posts %}
                                                                       <!-- max-width: 250 -->
                <div class="col l6 m6 s12" style="height: 270px; width: 250px;">
                    <a href="{% url 'post_detail' post.slug %}" class="card">
                        
                        <div class="card-image">
                            <img src="{{post.image.url}}" style="height: 170px;"> <!-- 150 -->
                        </div>

                        {% comment %}
                            http://stackoverflow.com/questions/6572330/is-it-possible-to-use-text-overflowellipsis-on-multiline-text
                        {% endcomment %}

                        <div class="card-content" style="padding: 10px 0; color: #000;">
                            <p style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">{{post.title}}</p>
                        </div>

                    </a>
                </div> <!-- /.col s3 --> 

            {% endfor %}

        </div> <!-- /.col s10 feature-wrapper -->


    </div> <!-- /post-content -->



    </div> <!-- /.row -->

    <div class="post-arrows-wrapper">

        {% if prev_post %}
        <a href="{% url 'post_detail' prev_post.slug %}" class="navigation-arrow navigation-left">
            <div class="valign-wrapper navigation-arrow-wrapper">
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="valign">Прошлая публикация</span>
            </div>
        </a>
        {% endif %}

        {% if next_post %}
        <a href="{% url 'post_detail' next_post.slug %}" class="navigation-arrow navigation-right">
            <div class="valign-wrapper navigation-arrow-wrapper helper">
                <span class="valign">Следующая публикация</span>
                <i class="material-icons" style="margin-left: 15px;">keyboard_arrow_right</i>
            </div>
        </a>
        {% endif %}

    </div>

    <style type="text/css">

        .sidebar-share .product-post-right{
            display: none;
        }

    </style>



{% comment %}    
    <div  id="share-text" style="position: absolute;">
        <div style="background-color: #000; padding: 5px 10px; border-radius: 4px;">
            <i class="fa fa-vk fa-2x" style="color: #fff;"></i>
            <i class="fa fa-facebook fa-2x" style="color: #fff; padding-left: 10px;"></i>
            <i class="fa fa-twitter fa-2x" style="color: #fff; padding-left: 10px;"></i>
        </div>

        <div class="arrow-down"></div>
    </div>


    <style type="text/css">

        .arrow-down {
            margin: 0 auto;
            width: 0; 
            height: 0; 
            
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #000;
        }

    </style>
{% endcomment %}


{% endblock %}


{% block scripts %}

    {{block.super}}

       <script type="text/javascript">

{% comment %}
        document.onmouseup = function() {

            var selection = document.getElementById('post-content-text').getSelection();

            if (selection != '') {
                var height_share = $('#share-text').height();

                var coords = getOffsetRect(selection, height_share);

                //alert(getOffsetRect(selection).top);

                $('#share-text').css({'left': coords.left, 'top': coords.top}).show();
            }
            else{
                $('#share-text').hide();
            }

        }

        function getOffsetRect(selection, height_share) {

            var range = selection.getRangeAt(0);
            

            //range.collapse(false);
            

            var dummy = document.createElement("span");
            range.insertNode(dummy);
            
            var box = dummy.getBoundingClientRect();
            
            //var x = box.left, y = box.top;

    
            var body    = document.body
            var docElem = document.documentElement
    
            var scrollTop  = window.pageYOffset || docElem.scrollTop || body.scrollTop
            var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft
    
            var clientTop  = docElem.clientTop || body.clientTop || 0
            var clientLeft = docElem.clientLeft || body.clientLeft || 0
    
            //var top  = box.top  + scrollTop  - clientTop

            offsetTop = box.top - box.height

            var top  = offsetTop + scrollTop - height_share - clientTop
            var left = box.left + scrollLeft - clientLeft

            dummy.parentNode.removeChild(dummy);
    
            return { top: Math.round(top), left: Math.round(left) }
        } // getOffsetRect()
{% endcomment %}

        $(document).ready(function() {

            if( $(window).width() <= 460){
                $('.navbar').removeClass('valign-wrapper');
                $('.navbar').find('.valign').removeClass('valign');
            }

            if($(window).width() > 500){
                $('.post-cover-image').css('background-image', 'url({{post.image.url}})' );
            }
            else{
                $('.post-cover-image').css('background-image', 'url({{post.image_thumbnail.url}})' );
            }

            if($(window).width() > 992){
                $('.navbar-post').pushpin({ top: $('.navbar-post').offset().top });
            }


        {% comment %}
            if( $('#post-content-text').height() > $('#sidebar-share').height() ){

                var offset_horizontal = $('#sidebar-share').offset().left - ($('#sidebar-share').width() / 2);
                var offset_vertical = $('#feature-wrapper').offset().top - $('#sidebar-share').height();

                var initial_left = $('#sidebar-share').offset().left;
                $('#sidebar-share').css('left', initial_left);

                $('#sidebar-share').pushpin({ top: $('#sidebar-share').offset().top, 'bottom': offset_vertical - 10 });

                $('#post-content').removeClass('post-content-meta');
                $('#post-content').parent().css('position', 'relative');
            }
            else{
                $('#post-content-text').css('height', $('#sidebar-share').height());
            }
        {% endcomment %}

            var height = $(window).height() - 64;
            $('.post-cover').css('height', height);


        offset = $('.post-cover').position().top + $('.post-cover').height();

        $(document).keydown( function(event) {
            
            if(event.which === 13 && event.ctrlKey) {
                
                var txt = '';

                if (txt = window.getSelection){ // Не IE, используем метод getSelection
                    txt = window.getSelection().toString();
                } 
                else { // IE, используем объект selection
                  txt = document.selection.createRange().text;
                }

                if(txt != ''){
                    send_typo(txt);
                }
            }

        });

            function send_typo(text){

                id_post = {{post.id}};

                $.post( "/typo/", {pk: id_post, text: text}, function( data ) {
                
                    if(data == 'sent'){
                        Materialize.toast('Спасибо за сообщиение нам об ошибке! Мы в ближайшее время её исправим.', 4000);
                    }

                });
            }

            $('.startups-wrapper').on('click', '.product-post-body', function() {
                var url = "{% url 'hunt:post_detail' 'slug' %}";
                url = url.replace('slug', $(this).data('slug'))
                location.href = url;
            });
            
        });

    </script>


{% endblock scripts %}

