{% extends "base.html" %}


{% block content %}
    
    {% load staticfiles %}

    <div class="post-cover" style="position: relative; min-height: 500px; background-color: #000;">

        <div class="post-cover-image" style="background-image: url({{post.image.url}});"></div>


        <div class="overlay valign-wrapper" style="position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 10;">
            <div class="row valign" style="color: #fff;">

                <div class="col s12 l8 offset-l2 m10 offset-m1 center-align">
                    <h3 style="font-weight: 600; font-size: 3.5rem;">{{post.title}}</h3>
                    <p style="color: #e6e6e6;">{{post.date|date:"DATE_FORMAT"}}</p>
                </div>
            
            </div>
        </div>


    </div>


    
    <div class="row" style="margin-top: 30px; margin-bottom: 100px;">
        <div class="col l6 offset-l3 m10 offset-m1" style="font-size: 1.15rem; max-width: 750px;">
            {{post.text_entry|safe}}

            <!--
            <hr>
                <a class="vk popup" href="http://vk.com/share.php?url=" target="_blank"><img src="{% static 'vk_logo.png' %}"></a>
                <a class="twitter popup" href="http://twitter.com/share?text={{post.title}}" target="_blank"><img src="{% static 'twitter_logo.png' %}"></a>
                <a class="facebook popup" href="https://www.facebook.com/sharer/sharer.php" target="_blank"><img src="{% static 'facebook_logo.png' %}"></a>
            <hr>
            -->


            {{post.text|safe}}

            <!--
            <hr>
                <a class="vk popup" href="http://vk.com/share.php?url=" target="_blank"><img src="{% static 'vk_logo.png' %}"></a>
                <a class="twitter popup" href="http://twitter.com/share?text={{post.title}}" target="_blank"><img src="{% static 'twitter_logo.png' %}"></a>
                <a class="facebook popup" href="https://www.facebook.com/sharer/sharer.php" target="_blank"><img src="{% static 'facebook_logo.png' %}"></a>
            <hr id="bottom-share">
            -->


        </div> <!-- col s6 -->

        <!--
        <div class="col s6 offset-s2" style="font-size: 1.15rem; max-width: 750px;">
            post.text
        </div>

        <div class="col s2">
            <img class="responsive-img" src="https://upload.wikimedia.org/wikipedia/commons/9/91/F-15_vertical_deploy.jpg">
        </div>
        -->

        <!--
        <div class="col s2 offset-s1 share-buttons center-align">

            <div class="center-align">
                <span>Поделись!</span>
            </div>

            <div>
                <a class="vk popup" href="http://vk.com/share.php?url=" target="_blank"><img src="{% static 'vk_logo.png' %}"></a>
                <a class="twitter popup" href="http://twitter.com/share?text={{post.title}}" target="_blank"><img src="{% static 'twitter_logo.png' %}"></a>
                <a class="facebook popup" href="https://www.facebook.com/sharer/sharer.php" target="_blank"><img src="{% static 'facebook_logo.png' %}"></a>
            </div>

        </div> --> <!-- /.col .share-buttons-->

        <div class="col l10 offset-l1" style="font-size: 1.15rem; margin-top: 40px;">
            
            {% for post in recommended_posts %}
                <div class="col l3 m6">
                    <a href="{% url 'post_detail' post.slug %}" class="card hoverable">
                        
                        <div class="card-image">
                            <img src="/media/{{post.image}}">
                        </div>

                        <div class="card-content">
                            <p>{{post.title}}</p>
                        </div>

                    </a>
                </div> <!-- /.col s3 -->
            {% endfor %}

        </div> <!-- /.col s10 -->

    </div>



    




    <style type="text/css">

        .post-cover-image{
            position: absolute;

            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;

            top: 0;
            left: 0;

            opacity: 0.5;
        }

        .pinned {
            position: fixed !important;
            margin-top: 100px;
            right: 15px;
        }

        .share-buttons{
            position: relative;
            right: 15px;
        }

        .popup img:hover{
            opacity: 0.4;
        }

        .card{
            display: block;
        }


    </style>

    <script type="text/javascript">

        var height = $(window).height() - 64;
        $('.post-cover').css('height', height);


        offset = $('.post-cover').position().top + $('.post-cover').height();


//        $(document).ready(function(){
  //          $('.share-buttons').pushpin({ top: offset - 50, 'bottom': $('#bottom-share').position().top });

            //alert($('#bottom-share').position().top);

            //$('.share-buttons').css('top', (offset + 50) + 'px');

    //    });


/*
        function Scroll(){

        }

        var options = [
            {selector: '.post-cover-image', offset: 1100, callback: 'Scroll()' },
            //{selector: '.other-class', offset: 200, callback: 'globalFunction()' },
        ];
        
        Materialize.scrollFire(options);
*/      

    </script>

    <script>
    $(document).ready(function() {

        $('.popup').click(function(event) {
            var width  = 575,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                opts   = 'status=1' +
                         ',width='  + width  +
                         ',height=' + height +
                         ',top='    + top    +
                         ',left='   + left;

            if( $(this).hasClass('vk') ){
                var url = this.href + window.location.href;
            }
            else{
                var url = this.href;
            }

            window.open(url, 'sharing', opts);
 
            return false;
        });
    });


    </script>



{% endblock %}
