		.product-post a{
			color: #000;
		}

		.product-post-right{
			float: right;
			/*
			font-size: 17px;
			line-height: 70px;
			*/
			margin-right: 20px;
		}

		.product-post-right .comments{
			display: inline-block;
			vertical-align: super;
			margin-right: 10px;
			color: #999999;
		}

		.product-post-right img{
			border-radius: 50%;
			width: 26px;
		}

		.upvote-triangle{
			position: relative;
    		bottom: 5px;
    		display: inline-block;
    		width: 0px;
    		height: 0px;
    		border-bottom: 12px solid #534540;
    		border-left: 8px solid transparent;
    		border-right: 8px solid transparent;
    		border-top: 12px solid transparent;

    		-webkit-transition: border-color, 0.1s, ease-in;
    		-moz-transition: border-color, 0.1s, ease-in;
    		transition: border-color, 0.1s, ease-in;
		}

		.upvote{
			width: 30px;
			margin-right: 20px;
			vertical-align: super;
			text-align: center;
			display: inline-block;
			color: #000;
		}

		.upvote-active, .upvote-active .upvote-triangle{
			color: #5898f1;
			border-bottom-color: #5898f1;
		}

		.upvote:hover, .upvote:hover .upvote-triangle{
			color: #5898f1;
			border-bottom-color: #5898f1;
			cursor: pointer;
		}

		.upvote-startup{
            margin-left: 15px;
        }

		.product-post{
			line-height: 0;
		}

		.product-post-item{
			padding: 10px 0;
		}

		.product-post-item:hover{
			background-color: #eee;
			background-color: #fcfcfc;
		}

		.product-post>div{
			display: inline-block;
			vertical-align: middle;
		}

		.product-post-body{
			width: 75%;
		}

		.product-post-body{
			cursor: pointer;
		}

		.product-post-details .product-post-body{
			cursor: default;
		}

		.product-post-body p, .post-description{
			color: #999999;
			font-size: 17px;
		}

		.product-author{
			display: block;
			margin-bottom: 20px;
			color: #000;
		}

		.product-author span{
			vertical-align: text-bottom;
			margin-left: 5px;
		}

		.profile-link{
			display: inline-block;
		}

		.profile-link img{
			width: 100%;
			border-radius: 50%;
		}

		.product-author .profile-link{
			width: 20px;
			height: 20px;
		}

		.upvote-profiles .profile-link{
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}

		.product-post-right .profile-link{
			width: 30px;
    		margin-top: 18px;
		}

		@media (min-width: 601px){
            .soc-pages .profile-link{
				float: right;
			}
        }

        .soc-pages .profile-link img{
        	width: 45px;
        }

		@media (max-width: 601px){
			.product-post .product-post-right {
    			display: none;
			}
		}

		.user-profile .profile-link{
			margin: auto;
			width: 100px;
			display: block;
		}

		.product-details-header .share-startup{
			display: inline-block;
    		text-align: center;
		}

		.share-startup a{
    		padding: 10px;
    		margin: 0 10px;
			color: #fff;
			width: 45px;
		}

		.comments-blocking{
			margin: 30px 0 50px;
			padding: 20px;
    		text-align: center;
    		background: hsla(0,0%,95%,.5);
    		border-radius: 6px;
    		border: 1px solid #f2f2f2;
    		color: #999;
		}

		.comments-blocking p{
			width: 80%;
			margin: 0 auto;
		}

		.product-details-header{
			border-bottom: 1px solid #ccc;
    		margin: 20px 0;
    		padding-bottom: 10px;
		}

		.close{
			float: right;
    		text-align: right;
    		background-color: #eee;
    		color: #000;
		}

		.close i{
			font-size: 42px;
    		vertical-align: middle;
		}

		.close:hover{
			opacity: 0.6;
		}

		.login-popup-wrapper{
			background: rgba(255, 255, 255, 0.98);
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			z-index: 999;
		}

		.login-popup-wrapper .login-popup{
			/*
			width: 240px;
			border: 1px solid #000;
			*/
			margin: auto;
			z-index: 999;
		}

		.login-popup .soc-buttons a{
			display: block;
    		margin: 20px auto;
    		width: 200px;
		}

		.login-popup .soc-buttons i{
			text-align: center;
			width: 22px;
			margin-right: 20px;
		}

		.profile-share{
    		margin: 40px 0;
		}

		.profile-share a{
			display: inline-block;
    		width: 170px;
    		margin-top: 20px;
    		margin: 20px 10px 0;
		}

		.profile-share .profile-logout{
			float: right;
			color: #000;
			width: auto !important;
		}

		@media (max-width: 1250px){
			.profile-share .profile-logout{
				float: none;
			}
		}

.product-post-body .title-item h5:hover{
	text-decoration: underline;
}

.product-post-item{
	-webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
	transition: 0.25s;
}
