
{% extends "hunt/base.html" %}

{% block head %}

    <title>{{post.title}}</title>

    {{block.super}}
    
    <meta property="og:site_name" content="StartupDen" />
    
    <meta property="og:type" content="product" />
    <meta property="twitter:card" content="summary" />

    <meta property="og:title" content="{{post.title}}" />
    <meta property="twitter:title" content="{{object.title}}" />

    <meta property="twitter:description" content="{{object.description}}" />
    <meta property="og:description" content="{{post.text_entry}}" />

    <meta property="og:url" content="http://startupden.ru{{ request.path }}" />
    <meta property="twitter:url" content="http://startupden.ru{{ request.path }}" />

   	<meta property="og:image" content="http://startupden.ru/media/share-logo.png" />
    <meta property="twitter:image" content="http://startupden.ru/media/share-logo.png" />

{% endblock head %}


{% block content %}

	<div class="row" style="margin-top: 30px;">
		<div class="container product-details">

			<div class="product-details-header">
				<div class="share-btns share share-startup">

                	<a href="http://vk.com/share.php?url=" target="_blank" class="popup post-content-share-vk">
                	    <i class="fa fa-vk fa-lg"></i>
                	</a>
            
                	<a href="http://twitter.com/share?text={{post.title}}" target="_blank" class="twitter popup post-content-share-twitter">
                	    <i class="fa fa-twitter fa-lg"></i>
                	</a>
            
                	<a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="popup post-content-share-facebook">
                	    <i class="fa fa-facebook fa-lg"></i>
                	</a>

            	</div>
                <a href="{% url 'hunt:post_list' %}" class="close">
                	<i class="material-icons">close</i>
               	</a>
			</div> <!-- /.product-details-header -->

			<a href="{% url 'hunt:profile_details' object.author.pk %}" class="product-author">
				<div class="profile-link"><img src="{{object.author.avatar.url}}"></div>
				<span>Опубликовал(-а) {{object.author.user.first_name}} {{object.author.user.last_name}}</span>
			</a>

			<div class="product-post">

				{% if user.profile in object.upvotes.all %}
					<div class="upvote upvote-active">
				{% else %}
					<div class="upvote">
				{% endif %}
					<div class="upvote-triangle"></div>
					<p> {{object.upvotes.count}} </p>
				</div>

				<div class="product-post-body" data-id="{{object.pk}}">
					<h5 style="display: inline-block; margin: 0;">{{object.title}}</h5>

					<p style="line-height: 20px; margin: 10px 0;">{{object.description}}</p>
				</div>
			</div> <!-- /.product-post -->

			<a href="{% url 'redirect' %}?url={{object.link}}" target="_blank" class="btn-large waves-effect" style="margin-bottom: 0px; height: 45px; line-height: 47px;">Перейти на сайт</a>

			<p class="post-description">{{object.upvotes.count}} голос(-ов)</p>

			<div class="upvote-profiles">
			{% for upvote in object.upvotes.all %}
                <a href="{% url 'hunt:profile_details' upvote.pk %}" class="profile-link">
                	<img src="{{upvote.avatar.url}}">
                </a>
			{% endfor %}
			</div>

			<div class="comments-blocking">
				<p>Оставлять комментарии могут только зарегестрированные пользователи, которые получили приглашение. Чтобы получить приглашение напишите нам на touch@startupden.ru или зарегестрируйтесь и проявляйте активность, голосуя за понравившиеся проекты.</p>
			</div>

		</div>
	</div>

{% endblock content %}
